.container{
    min-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;    
}
.title{
  padding: 10px;
}
.desafio{
    width: 100%;
    padding: 10px;
    flex: 1;
    background-color: violet;
}